@model COMP003B.FinalAssignment.Models.Seasonal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seasonal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipes.RecipeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creators)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creators.Season)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeasonalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
